/[A-Za-z]*
.CFUserTextEncoding
.rnd
.anyconnect
.aws
.Trash
.jenv
.DS_Store
.IdeaIC15/
.account
.adobe/
.android/
.bash_history
.bash_sessions/
.bundle/
.cache/
.cisco/
.config/
.cups/
.dropbox/
.eclipse/
.exercism.json
.gem/
.gnupg/
.gradle/
.ivy2/
.lesshst
.netrc
.npm/
.oracle_jre_usage/
.palantir/
.pgadmin_histoqueries
.pgpass
.rvm/
.sqldeveloper/
.ssh/
.subversion/
.swex/
.tooling/
.vagrant.d/
.viminfo
!README.md
