# see https://labs.consol.de/development/git/2017/02/22/gitignore.html
/*
!/.bash_profile
!/.bashrc
!/.brewfile
!/.gitconfig
!/.gitignore_global
!/.mkshrc
!/personalize
!/.profile
!/.vimrc
!/.zshrc
!/readme.md
