[user]
	email = clormor@palantir.com
	name = Chris Lormor
[core]
  ignorecase = true
  editor = vim
  excludesfile = /Users/clormor/.gitignore_global
  autocrlf = input
  whitespace = trailing-space,space-before-tab
[apply]
  whitespace = fix
[branch]
  autosetuprebase = always
[color]
  ui = true
[merge]
	tool = diffmerge
[commit]
	template = /Users/clormor/.stCommitMsg
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	trustExitCode = false
	cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[difftool]
	prompt = false
[pull]
	rebase = true
