[user]
	email = clormor@palantir.com
	name = Chris Lormor
[core]
  ignorecase = true
  editor = vim
	excludesfile = /Users/clormor/.gitignore_global
	autocrlf = input
[branch]
  autosetuprebase = always
[color]
  ui = true
[merge]
	tool = diffmerge
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/clormor/.stCommitMsg
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = /usr/local/bin/diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	trustExitCode = false
	cmd = /usr/local/bin/diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[difftool]
	prompt = false
